In [1]:
import pandas as pd

In [2]:
DATA_DIR='./data/'

In [3]:
df = pd.read_csv('{}Train_Data.csv'.format(DATA_DIR))
df.head()

,date,number of rooms,security level of the community,residence space,building space,noise level,waterfront,view,air quality level,aboveground space,...,building year,decoration year,district,city,zip code,region,exchange rate,unit price of residence space,unit price of building space,total cost
0,2014/5/2 0:00,5,2.50,2820,67518,2.0,0,0,3,2820,...,1979,2014,23525 SE 32nd Way,Issaquah,WA 98029,USA,6.784830,11.886409,0.977028,NaN
1,2014/5/2 0:00,2,1.00,1210,9400,1.0,0,0,2,1210,...,1949,0,7542 21st Ave SW,Seattle,WA 98106,USA,6.243129,25.681414,0.698603,NaN
2,2014/5/2 0:00,4,2.50,2200,9397,2.0,0,0,3,2200,...,1987,2000,5214 S 292nd St,Auburn,WA 98001,USA,6.010127,16.921174,0.238882,NaN
3,2014/5/2 0:00,3,1.50,1200,9720,1.0,0,0,4,1200,...,1965,0,14034 SE 201st St,Kent,WA 98042,USA,7.560375,19.632230,0.876178,NaN
4,2014/5/2 0:00,3,1.75,1370,5858,1.0,0,0,3,1370,...,1987,2000,1605 S 245th Pl,Des Moines,WA 98198,USA,6.543941,28.205930,0.132472,NaN

In [4]:
df.columns

Index(['date', 'number of rooms', 'security level of the community',
       'residence space', 'building space', 'noise level', 'waterfront',
       'view', 'air quality level', 'aboveground space ', 'basement space',
       'building year', 'decoration year', 'district', 'city', 'zip code',
       'region', 'exchange rate', 'unit price of residence space',
       'unit price of building space', 'total cost'],
      dtype='object')

# Complete total cost

In [6]:
def total_cost_in_HKD(record):
    return (record['unit price of residence space'] * record['residence space'] + record['unit price of building space'] * record['building space']) * record['exchange rate']

In [7]:
df['total cost'] = df.apply(total_cost_in_HKD, axis=1)

In [8]:
df.head()

,date,number of rooms,security level of the community,residence space,building space,noise level,waterfront,view,air quality level,aboveground space,...,building year,decoration year,district,city,zip code,region,exchange rate,unit price of residence space,unit price of building space,total cost
0,2014/5/2 0:00,5,2.50,2820,67518,2.0,0,0,3,2820,...,1979,2014,23525 SE 32nd Way,Issaquah,WA 98029,USA,6.784830,11.886409,0.977028,675000.000105
1,2014/5/2 0:00,2,1.00,1210,9400,1.0,0,0,2,1210,...,1949,0,7542 21st Ave SW,Seattle,WA 98106,USA,6.243129,25.681414,0.698603,234999.999988
2,2014/5/2 0:00,4,2.50,2200,9397,2.0,0,0,3,2200,...,1987,2000,5214 S 292nd St,Auburn,WA 98001,USA,6.010127,16.921174,0.238882,237227.857125
3,2014/5/2 0:00,3,1.50,1200,9720,1.0,0,0,4,1200,...,1965,0,14034 SE 201st St,Kent,WA 98042,USA,7.560375,19.632230,0.876178,242499.999935
4,2014/5/2 0:00,3,1.75,1370,5858,1.0,0,0,3,1370,...,1987,2000,1605 S 245th Pl,Des Moines,WA 98198,USA,6.543941,28.205930,0.132472,257949.999962

In [15]:
# df.to_csv('{}Train_Data_with_Cost.csv'.format(DATA_DIR), index=False)

# Drop unit prices

In [18]:
data_with_cost = pd.read_csv('{}Train_Data_with_Cost.csv'.format(DATA_DIR))
data_with_cost.head()

,date,number of rooms,security level of the community,residence space,building space,noise level,waterfront,view,air quality level,aboveground space,...,building year,decoration year,district,city,zip code,region,exchange rate,unit price of residence space,unit price of building space,total cost
0,2014/5/2 0:00,5,2.50,2820,67518,2.0,0,0,3,2820,...,1979,2014,23525 SE 32nd Way,Issaquah,WA 98029,USA,6.784830,11.886409,0.977028,675000.000105
1,2014/5/2 0:00,2,1.00,1210,9400,1.0,0,0,2,1210,...,1949,0,7542 21st Ave SW,Seattle,WA 98106,USA,6.243129,25.681414,0.698603,234999.999988
2,2014/5/2 0:00,4,2.50,2200,9397,2.0,0,0,3,2200,...,1987,2000,5214 S 292nd St,Auburn,WA 98001,USA,6.010127,16.921174,0.238882,237227.857125
3,2014/5/2 0:00,3,1.50,1200,9720,1.0,0,0,4,1200,...,1965,0,14034 SE 201st St,Kent,WA 98042,USA,7.560375,19.632230,0.876178,242499.999935
4,2014/5/2 0:00,3,1.75,1370,5858,1.0,0,0,3,1370,...,1987,2000,1605 S 245th Pl,Des Moines,WA 98198,USA,6.543941,28.205930,0.132472,257949.999962

In [19]:
data_with_cost.shape

(4000, 21)

In [20]:
data_dropped_two_columns = data_with_cost.drop(columns=['unit price of residence space', 'unit price of building space'])
data_dropped_two_columns.head()

,date,number of rooms,security level of the community,residence space,building space,noise level,waterfront,view,air quality level,aboveground space,basement space,building year,decoration year,district,city,zip code,region,exchange rate,total cost
0,2014/5/2 0:00,5,2.50,2820,67518,2.0,0,0,3,2820,0,1979,2014,23525 SE 32nd Way,Issaquah,WA 98029,USA,6.784830,675000.000105
1,2014/5/2 0:00,2,1.00,1210,9400,1.0,0,0,2,1210,0,1949,0,7542 21st Ave SW,Seattle,WA 98106,USA,6.243129,234999.999988
2,2014/5/2 0:00,4,2.50,2200,9397,2.0,0,0,3,2200,0,1987,2000,5214 S 292nd St,Auburn,WA 98001,USA,6.010127,237227.857125
3,2014/5/2 0:00,3,1.50,1200,9720,1.0,0,0,4,1200,0,1965,0,14034 SE 201st St,Kent,WA 98042,USA,7.560375,242499.999935
4,2014/5/2 0:00,3,1.75,1370,5858,1.0,0,0,3,1370,0,1987,2000,1605 S 245th Pl,Des Moines,WA 98198,USA,6.543941,257949.999962

In [21]:
data_dropped_two_columns.shape

(4000, 19)

In [22]:
# data_dropped_two_columns.to_csv('{}Train_Data_without_Unit_Prices.csv'.format(DATA_DIR), index=False)